<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mapType</key>
	<integer>0</integer>
	<key>showScale</key>
	<false/>
	<key>northType</key>
	<integer>0</integer>
	<key>baseUnit</key>
	<integer>1</integer>
	<key>locationAccuracyFrac</key>
	<real>1</real>
	<key>postSeparationFrac</key>
	<real>0.2</real>
	<key>shakeUndo</key>
	<true/>
	<key>shakeUndoTimeout</key>
	<integer>5</integer>
</dict>
</plist>
